@media only screen and (max-width:767px){
    
    .topsection{
        div{
            flex: 1 1 100%;
            
           
        }
        .topsecItem{
            max-width: calc(100% - 6px);
        }
    }                           

    .flyer{
            flex-wrap: wrap;     
            
            .topflyer{
                
                flex: 1 1 100%;
                margin: 10px 0px 0;
        }
    }

    .productItem{
        max-width: calc(45% - 6px);
        flex: 1 1 50%;
        margin: 0px 3px 20px;
    
    }
    .product{
        flex-wrap: wrap;
    justify-content: center;
    }
    .secbottom .secbottom_Item{
    margin-bottom: 10px;
    }
   
}
@media only screen and (max-width:574px){
    .productItem{
        max-width: calc(100% - 6px);
        flex: 1 1 100%;
        margin: 0px 3px 20px;
    
    }
    .product{
        flex-wrap: wrap;
    justify-content: center;
    }
    .brands{
        flex-wrap: wrap;
    }
    .footmid{
        flex-wrap: wrap;
        .midImg
        {
         margin-top: 10px;
         img{
             margin-left:0px!important;
             }
        }
    }

    .footertop{
    flex-direction: column;
    }
    
}