 .productlist{
     display: flex;


.sort{
    margin-bottom: 20px;
    max-width:222px; 
    width: 100%;
    select{
        min-width: 222px;
        height: 45px;
        padding-left: 6px;
        font-size: 14px;
        text-transform: capitalize;
        border-radius: 4px;
    background: white;
    border: 1px solid #e7e7e7;

    }
}
.productView{
    width: 100%;
    padding-left: 15px;

.productViewTop{
    background: #f3f3f3;
    padding: 10px 10px;
   
    ul{
        display: flex;
    list-style: none;
    align-items: center;
        li{
            margin-right: 10px;            
.chip {
    display: inline-block;
    font-size: 18px;
    border-radius: 25px;
    background-color: #fff;
    color:red;
    border:1px solid #e7e7e7;
    font-size:14px;
    padding: 11px 17px;
    padding-right: 0;

    span{
        color: #444;
        cursor: pointer;
        float: right;
        font-size: 28px;
        cursor: pointer;
        padding: 0 14px;
        line-height: 0.5;
        text-align: right;
      }
  }
}
li:last-of-type a{
    font-size: 14px;
    color:#444;
}
}
}


}
   }
  @import '/src/Components/utilities.module.scss';
@import '/src/Components/Responsive.module.scss';